{% extends "network/layout.html" %}

{% block body %}


<div class="add-post-section col-sm-12">
    <h2>Something to say?</h2>
    <form action="{% url 'add' %}" method="post" class="add-post">
        {% csrf_token %}
        <textarea autofocus id="new-content" name="new-content" class="form-control" rows="3"></textarea>
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<div class="post-section col-sm-12">
    <h2>All posts</h2>
    <hr>
    {% for post in posts%}
    <div id="post-{{ post.id }}" class="post">
        <p class="post-content">{{post.content}}</p>
        <div class="smaller-text d-flex flex-wrap">
            <p class="post-user">{{post.posted_by}}</p>
            {% if post.id in posts_liked%}
            <button id={{post.id}} class="btn margin-left-15 like-post btn-secondary">Like</button>
            {% else %}
            <button id={{post.id}} class="btn margin-left-15 like-post btn-primary">Like</button>
            {%endif%}
            <p class="count-like margin-left-15">{{post.likes.all.count}}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


{% endblock %}