{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class="add-post-section col-sm-12">

    <h2>Something to say?</h2>
    <form action="{% url 'add' %}" method="post" class="add-post">
        {% csrf_token %}
        <textarea autofocus id="new-content" name="new-content" class="form-control" rows="3"></textarea>
        <input id="submit-post" type="submit" class="btn btn-primary">
        <p id="form-message" class="small-p"></p>
    </form>

</div>
{%endif%}

<div class="post-section col-sm-12">
    <h2>All posts</h2>
    <hr>
    {% for post in posts%}
    <div id="post-{{ post.id }}" class="post">
        <div class="posted-by d-flex flex-wrap">
            <p><a href="profile/{{post.posted_by}}"><strong>{{post.posted_by}}</strong></a></p>
            {%if post.posted_by == user %}
            <button class="btn btn-outline-primary edit-post margin-left-15">edit</button>
            {%endif%}
            <p class="post-date margin-left-15">{{post.post_date}}</p>
        </div>
        <div class="post-content ">
            <p class="post-content-{{post.id}}">{{post.content}}</p>
            <div class="hide form-content-{{post.id}}">
                <textarea name="edit-content" class="form-control edit-content-{{post.id}}" rows="3"></textarea>
                <button class="btn btn-primary submit-edit-post">Update</button>
                </form>
            </div>
        </div>

        <div class="smaller-text d-flex flex-wrap">
            {% if user.is_authenticated %}
            {% if post.id in posts_liked%}
            <button id={{post.id}} class="btn margin-left-15 like-post btn-secondary">Like</button>
            {% else %}
            <button id={{post.id}} class="btn margin-left-15 like-post btn-primary">Like</button>
            {%endif%}
            {%endif%}
            <p class="count-like margin-left-15">{{post.likes.all.count}}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


{% endblock %}