{% extends "network/layout.html" %}


{% block body %}
{{ request_user_follows_id|json_script:"request_user_follows_id" }}
<h2>{% if request_user == username %}hello, {% endif %}{{username}}</h2>
<div class="follow-info d-flex flex-wrap">
    <p>Followers: {{followers_num}}</p>
    <p class="margin-left-15">Following: {{following_num}}</p>
</div>

<div class="follow">
    {% if request_user_follows == True %}
    <button id="follow-button" class="unfollow btn btn-outline-primary">Unfollow</button>
    {% elif request_user == username %}
    {% else%}
    <form action="{% url 'follow' %}" method="post" class="add-follower">
        {% csrf_token %}
        <input id="follow-button" type="submit" class="btn btn-primary" value="Follow">
        <input type="hidden" name="profile_user" value="{{username}}">
        <input type="hidden" name="next" value="{{ request.path }}">
        <p id="form-message" class="small-p"></p>
    </form>
    {% endif%}
</div>

{%for post in posts_by_user%}
<hr>
<div id="post-{{ post.id }}" class="post">
    <div class="posted-by edit-post-button d-flex flex-wrap">
        {%if post.posted_by == user %}
        <button class="btn btn-outline-primary edit-post margin-left-15">edit</button>
        {%endif%}

    </div>
    <div class="post-content">
        <p class="post-content-{{post.id}}">{{post.content}}</p>
        <div class="hide form-content-{{post.id}}">
            <textarea name="edit-content" class="form-control edit-content-{{post.id}}" rows="3"></textarea>
            <button class="btn btn-primary submit-edit-post">Update</button>
            </form>
        </div>
    </div>

    <div class="smaller-text d-flex flex-wrap">
        {% if user.is_authenticated %}
        {% if post.id in posts_liked%}
        <button id={{post.id}} class="btn margin-left-15 like-post btn-secondary">Like</button>
        {% else %}
        <button id={{post.id}} class="btn margin-left-15 like-post btn-primary">Like</button>
        {%endif%}
        {%endif%}
        <p class="count-like margin-left-15">{{post.likes.all.count}}</p>
        <p class="post-date margin-left-15">{{post.post_date}}</p>
    </div>

</div>
{%endfor %}

{% endblock %}